<!DOCTYPE html>
<html>
  <head>
    <title>时间刻录机</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>开始使用</h1>
    <p>Welcome to Life Writer</p>
    
    <lr>
    <a href="/oauth"> 开始 </a>

  </body>
</html>
