<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet" href="/stylesheets/markdown7.css'>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type="text/javascript" src="/javascripts/showdown.js"></script>
		<script type="text/javascript" src="/javascripts/showdown-table.js"></script>
		
	</head>
	<body>  
		<div id="bg"> 
			<div id="left">
				<textarea id ="text_content" style="width:100%;height:100%"></textarea>
			</div>
			<div id="right" style="overflow: auto;">
				<div id="content">abcd</div>
			</div>
		</div>  

		<!-- <script type="text/javascript" src="https://cdn.rawgit.com/showdownjs/showdown/1.4.2/dist/showdown.min.js"></script> -->

		<script type="text/javascript" src="/javascripts/textarea-extend.js"></script>

	</body>  
</html>
